<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhasmophobiaHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhasmophobiaHelper.Properties.Settings>
            <setting name="GhostSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RecordGhostSpeedKeyBinding" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="ResetGhostSpeedKeyBinding" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TimerKeyBinding" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="GhostStepQueueLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GhostGuessingOffset" serializeAs="String">
                <value>0.1</value>
            </setting>
        </PhasmophobiaHelper.Properties.Settings>
    </userSettings>
</configuration>